@media (max-width: 769px) {
  .main__food-list {
    display: grid;
    grid-template-columns: minmax(500px, 752px);
    gap: 32px;
  }
  .main {
    height: 1290px;
  }
  .main__food-card {
    max-width: 752px;
  }
  .header__logo {
    margin-left: 8px;
  }
}

@media (max-width: 577px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header__img {
    width: 105px;
    height: 11px;
  }

  .header__sign-in {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #1d1d1d;
    width: 72px;
  }

  .header__register {
    margin-right: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    width: 72px;
    color: #ffffff;
  }

  .main {
    margin-top: 111px;
    height: 910px;
  }

  .header__basket {
    display: none;
  }
  .header__logo {
    margin-left: 4px;
  }
  .menu {
    display: none;
  }

  .hero {
    position: relative;
    width: 100%;
    height: 256px;
  }
  .hero__text {
    position: absolute;
    top: 131px;
    max-width: 95%;
    left: 1%;
  }
  .main__food-list {
    display: grid;
    grid-template-columns: minmax(200px, 308px);
    gap: 8px;
    grid-template-rows: repeat(6, 117px);
  }

  .hero__name {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #1d1d1d;
  }

  .hero__cuisine {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #626262;
    display: block;
    float: none;
    margin-top: 40px;
    text-align: center;
    margin-left: 0;
  }

  .hero__time {
    float: none;
    margin-right: 0;
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;
  }

  .main__food-image {
    max-width: 102px;
    max-height: 102px;
    bottom: 0;
    right: 0;
  }

  .main__food-card {
    max-height: 117px;
    max-width: 306px;
  }

  .main__food-headline {
    padding: 0;
    text-align: center;
    padding-top: 32px;
  }

  .main__hr {
    margin: 0 auto;
    display: block;
    margin-top: 12px;
  }

  .footer {
    height: 769px;
  }
  .footer__menu {
    height: 492px;
    display: block;
    max-width: 304px;
  }

  .footer__about-partnership {
    margin-top: 44px;
  }

  .footer__other {
    margin-top: 23px;
  }

  .footer__privacy-and-terms {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
  }

  .footer__policy {
    display: inline;
  }
  .footer__privacy {
    display: inline;
  }
  .footer__terms {
    display: inline;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
}
