* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #262626;
  --font--16: 16px;
  --font--13: 13px;
}

body {
  max-width: 1124px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Хэдер */
.header {
  height: 72px;
  width: 100%;
}

.header__nav {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 82px;
}

.header__sign-in {
  background: white;
  color: var(--black);
  height: 40px;
  width: 80px;
  text-decoration: none;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font--13);
  line-height: 24px;
  margin-right: 16px;
}

.header__sign-in:hover {
  background-color: #57ad56;
  color: white;
}

.header__register:hover {
  background-color: #57ad56;
}

.header__register {
  text-decoration: none;
  height: 40px;
  width: 80px;
  background: var(--black);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: var(--font--13);
  line-height: 24px;
  margin-right: 27px;
  border-radius: 2px;
}

.header__basket {
  background: url(/images/basket.svg);
  content: ' ';
  width: 20px;
  height: 23px;
  background-repeat: no-repeat;
  margin-right: 96px;
  background-position: center;
}

.header__basket:hover {
  background: url(/images/basket-hover.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Хиро */

.hero {
  width: 100%;
  height: 364px;
  background: url(/images/hero.svg);
  position: relative;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text {
  width: 389px;
  height: 204px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  position: absolute;
  top: 80px;
  left: 80px;
}

.hero__name {
  font-size: 36px;
  line-height: 42px;
  color: #1d1d1d;
  font-weight: normal;
  text-align: center;
  margin-top: 38px;
}

.hero__cuisine {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #626262;
  float: left;
  margin-left: 38px;
  margin-top: 62px;
}

.hero__time {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  background-color: var(--black);
  width: 97px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 54px;
  margin-right: 32px;
}

/* Меню */

.menu {
  width: 100%;
  height: 80px;
  background: #ffffff;
  border: 1px solid rgba(117, 117, 117, 0.2);
  display: flex;
  align-items: center;
}

.menu__nav {
  display: flex;
  margin-left: 80px;
  width: 605px;
  justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}

.menu__link_color_green {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #327430;
}
/* Мэйн */

.main {
  width: 100%;
  height: 780px;
}

.main__food-headline {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
  padding-left: 80px;
  padding-top: 57px;
}

.main__food-card {
  mix-blend-mode: normal;
  height: 160px;
  max-width: 470px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  position: relative;
}

.main__food-list {
  display: grid;
  margin-left: 82px;
  margin-top: 31px;
  grid-template-columns: 470px 470px;
  grid-template-rows: 160px 160px 160px;
  gap: 50px 16px;
}

.main__food-description {
  max-height: 24px;
  max-width: 245px;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font--16);
  line-height: 24px;
  color: #1d1d1d;
  margin-top: 16px;
}

.main__description {
  height: 100%;
  width: 298px;
  padding-left: 14px;
}

.main__secondary__description {
  max-width: 189px;
  max-height: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font--13);
  line-height: 21px;
  color: #626262;
  margin-top: 4px;
}

.main__food-image-1 {
  position: absolute;
  max-height: 160px;
  max-width: 170px;
  right: 0;
}

.main__price {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #1d1d1d;
  margin-top: 58px;
}
